<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>MOD ARCHIVE LOGIN</title>
</head>

<body>

<section class="h-screen bg-slate-500 text-lg">
    <form action="/loginProcess" method="post" class="flex flex-col justify-center align-center">
        <input type="text" name="username" id="username" placeholder="اسم المستخدم">
        <input type="text" name="password" id="password" placeholder="كلمة المرور">
        <button type="submit" name="submit" id="submit">تسجيل الدخول</button>
    </form>
</section>
</body>

</html>