<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOD ARCHIVE LOGIN</title>
</head>

<body>


    <form action="/loginProcess" method="post">
        <input type="text" name="username" id="username" placeholder="اسم المستخدم">
        <input type="text" name="password" id="password" placeholder="كلمة المرور">
        <button type="submit" name="submit" id="submit">تسجيل الدخول</button>
    </form>

</body>

</html>