<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MOD ARCHIVE SIGNUP</title>
</head>

<body>


    <form action="/signupProcess" method="post">
        <input type="text" name="username" id="username" placeholder="اسم المستخدم">
        <input type="text" name="mobile" id="mobile" placeholder="رقم الجوال">
        <input type="text" name="email" id="email" placeholder="البريد الإلكتروني">
        <input type="text" name="password" id="password" placeholder="كلمة المرور">
        <button type="submit">التسجيل</button>
    </form>
</body>

</html>